<h1 class="text-center font-bold text-5xl text-teal-400">Battleship</h1>

<div class="p-4 mt-10">
	<%= case {@action, @multiplayer}  do %>
		<% {:index, _} -> %> <.live_component id="home-component" module={BattleshipWeb.GameLive.HomeComponent} player_count={@player_count} />
		<% {:edit, _} -> %> <.live_component id="edit-component" module={BattleshipWeb.GameLive.EditComponent} gameboard={@gameboard} multiplayer={@multiplayer} />
		<% {:play, false} -> %> <.live_component id="play-component" module={BattleshipWeb.GameLive.SingleplayerPlayComponent} gameboard={@gameboard} enemy_gameboard={@enemy_gameboard} has_won={@has_won} winner={@winner} />
		<% {:play, true} -> %> <.live_component id="play-component" module={BattleshipWeb.GameLive.MultiplayerPlayComponent} gameboard={@gameboard} enemy_gameboard={@enemy_gameboard} has_won={@has_won} winner={@winner} />
	<% end %>
</div>