<div>
	<h1>Play game</h1>

	<div>
		<.live_component module={BattleshipWeb.GameLive.BoardComponent} id="player_board" gameboard={@gameboard} enable_edit={false} target={@myself} />
	</div>

	<button phx-click="index" class="text-green-300">Home</button>
</div>
